body {
    margin: 0px;
    word-break: keep-all;
}

html {
    font-size: 3.2px;
    font-family: SUIT;
    --rsbs-backdrop-bg: rgba(0, 0, 0, 0.1);
}

input,
textarea,
button {
    font-family: SUIT;
}
